* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.wrapper {
    height: auto;
    margin: 0 auto;
    color: #f5f6fa;
    position: relative;
}

.header {
    display: flex;
    height: 60px;
    background-color: #1abc9c;
    position: relative;
}

.logo {
    padding: 5px 20px;
}

.menu {
    line-height: 60px;
}

.main-menu {
    display: flex;
    list-style: none;

}

.main-menu li {
    margin: 0 20px;
    padding: 0 10px;
}

.main-menu li:hover .sub-menu {
    display: block;
}

.main-menu li:hover {
    background: #e84118;
    transition: all .3s;
}

.main-menu li a {
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

.sub-menu li:hover {
    background: #c23616;
    transition: all .3s;
}

.sub-menu {
    list-style: none;
    display: none;
}

.btn-tim {
    position: absolute;
    line-height: 60px;
    right: 20px;
}

.btn-tim input {
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 15px;
    height: 5px;
    padding: 15px;
    outline: none;
    width: 300px;
}

.btn-tim button {
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    align-items: center;
}



#toggle {
    display: none;
    top: 100px;
    width: 1089px;
    position: fixed;
    background: #353b48;
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

#toggle i {
    border: 2px solid #fff;
    padding: 3px;
    margin: 2px;
}

.container {
    max-width: 1089px;
    margin: 10px auto;
    background-color: #f5f6fa;
}

.headline {
    text-align: center;
    margin: 40px 0px;
}

.headline h3 {
    color: #050202;
    padding: 10px 20px;
    border: 1px solid #050202;
    display: inline-block;
    font-weight: 600;
}

ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}

ul.products li .product-top .product-thumb img {
    display: block;
}

ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #f71e1e;
    color: #fff;
    padding: 5px 0px;
    position: absolute;
    bottom: -45px;
    width: 100%;
    transition: 0.25s ease-in-out;
}

ul.products li:hover a.buy-now {
    bottom: 0px;
}

ul.products li .product-info {
    padding: 20px 0px;
}

ul.products li .product-info .product-price {
    color: #ae0e0e;
    padding: 2px 0px;
    font-size: 26px;
    font-weight: 600;
}

ul.products li .product-info a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: #1601ff;
}

ul.products li img {
    max-width: 100%;
    height: auto;
}

footer {
    background: black;
}

footer p,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table {
    margin: 0px auto;
    display: flex;
    width: 1089px;
}

.table .col {
    width: 25%;
}

.table .col h3 {
    color: #fff;
    font-size: 20px;
    margin: 15px 0;
    font-weight: 500;
}

.table .col .row p {
    color: #ced6e0;
    font-size: 16px;
    margin: 10px 0;
}

.table .col .row p a {
    color: #fff;
}

.table .col:nth-child(4) .row {
    display: flex;
    justify-content: space-between;
}

.table .col:nth-child(4) .row p:nth-child(1):hover a {
    color: #1e90ff;
}

.table .col:nth-child(4) .row p:nth-child(2):hover a {
    color: #f39c12;
}

.table .col:nth-child(4) .row p:nth-child(3):hover a {
    color: #EA2027;
}

.footer-bot {
    background: black;

}

.footer-bot p {
    text-align: center;
    font-size: 16px;
    color: #ffffff40;
    padding: 30px 0 5px 0;
}