* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.wrapper {
    height: auto;
    margin: 0 auto;
    color: #f5f6fa;
}

.header {
    display: flex;
    margin: 0px auto;
    height: 50px;
    background-color: #9f0707;
    justify-content: space-between;
}

.menu{
    width: 100%;
    background-color: #1abc9c;
    position: absolute;
    top: 50px;
    text-align: center;
}

.main-menu{
    display: flex;
    list-style: none;
}

.main-menu li{
    margin: 0 30px;
}

.main-menu li a{
    text-decoration: none;
    color: #fff;
}

.sub-menu{
    list-style: none;
}

/* 




.header .btn-tim{
    position: absolute;
    right: 20px;
}

.header .btn-tim input {
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 15px;
    height: 5px;
    padding: 18px;
    outline: none;
    width: 400px;
}

.header .btn-tim button{
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    align-items: center;
}

#toggle {
    display: none;
    top: 100px;
    width: 1089px;
    position: fixed;
    background: #353b48;
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

#toggle i {
    border: 2px solid #fff;
    padding: 3px;
    margin: 2px;
}

.menu {
    width: 100%;
    height: 50px;
    top: 51px;
}

.logo{
    padding: 0px 20px;
}

.menu nav {
    background: #273c75;
}

ul.main-menu {
    display: flex;
    list-style: none;
}

.main-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 20px;
    font-style: italic;
}

.main-menu li:hover .sub-menu {
    display: block;
}

.main-menu li:hover a {
    background: #e84118;
    transition: all .3s;
}

ul.sub-menu {
    list-style: none;
    display: none;
}

ul.sub-menu li a {
    padding: 8px 40px;
}

ul.sub-menu li:hover a {
    background: #c23616;
    transition: all .3s;
} */

.container {
    max-width: 1089px;
    margin: 50px auto;
    background-color: #f5f6fa;
}

.headline {
    text-align: center;
    margin: 40px 0px;
}

.headline h3 {
    color: #050202;
    padding: 10px 20px;
    border: 1px solid #050202;
    display: inline-block;
    font-weight: 600;
}

ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}

ul.products li .product-top .product-thumb img {
    display: block;
}

ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #f71e1e;
    color: #fff;
    padding: 5px 0px;
    position: absolute;
    bottom: -45px;
    width: 100%;
    transition: 0.25s ease-in-out;
}

ul.products li:hover a.buy-now {
    bottom: 0px;
}

ul.products li .product-info {
    padding: 20px 0px;
}

ul.products li .product-info .product-price {
    color: #ae0e0e;
    padding: 2px 0px;
    font-size: 26px;
    font-weight: 600;
}

ul.products li .product-info a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: #1601ff;
}

ul.products li img {
    max-width: 100%;
    height: auto;
}

footer{
    display: flex;
    height: auto;
    background-color: #1abc9c;
}
footer .col{
    width: 33%;
    background-color: #050202;
}

footer .col h3{
    text-align: center;
    margin-top: 10px;
}

footer .col p{
    text-align: center;
}

.footer-bot{
    height: 50px;
    background-color: #bdc3c7;
}
.footer-bot{
    text-align: center;
    line-height: 50px;
}
/* 
#footer {
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

#footer .footer-top {
    display: flex;
    justify-content: space-between;
}

#footer .footer-top div {
    margin: 5px 20px 10px;
}

#footer .footer-top a {
    text-decoration: none;
    color: #fff;
}

#footer .footer-top a:hover {
    color: #0a9de1;
}

#footer .footer-top h4 {
    margin: 10px 5px 30px 0px;
}

#footer .footer-top p {
    width: 500px;
    font-size: 18px;
}

#footer .footer-top a {
    font-size: 18px;
}

.footer-bot {
    background-color: #b6b6b6;
    height: 50px;
    text-align: center;
}

.footer-bot h3 {
    font-size: 18px;
    padding: 15px;
} */